h1 {
  text-align: center;
}
body {
  background-image: url('index.jpg'); /* Figma index.html */
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Avoid repeating the image */
  background-position: center; /* Center the image */
}
