body {
  background-image: url('static/index.jpg');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Avoid repeating the image */
  background-position: center; /* Center the image */
}
